@media screen and (min-width: 2040px) {
    #main {
        background-position: top center;
    }
}

@media screen and (min-width: 1921px) {
    #main {
        background-size: 100%;
    }
}

@media screen and (min-width: 2000px) {
    .owl-carousel .owl-nav button.owl-next span {
        left: 66.5%;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        left: 32.5%;
    }
}

@media screen and (min-width: 1300px) {
    .product-container {
        min-width: 550px!important;
        margin: 45px auto;
    }
}

/*1032-1199*/
@media screen and (max-width: 1199px) {
    #features {
        padding-bottom: 89px;
    }

    #features-container #features-items {
        max-width: 550px;
    }

    #features-container #features-items .feature-item {
        margin-bottom: 45px;
    }

    #features-container #features-items .feature-item:nth-child(2) {
        margin-right: 0;
    }

    #bought-items {
        justify-content: center;
    }

    #bought-items .bought-item {
        margin-right: 10px;
    }

    #bought-items .bought-item .bought-item-main {
        margin-left: 40px
    }

    #bought-items .bought-item .bought-item-main .bought-item-title {
        margin: 25px 0;
    }

    #bought-items .bought-item .order {
        order: 0;
        margin-left: 0;
    }

    #bought-items .bought-item:nth-child(3) .bought-item-main, #bought-items .bought-item:nth-child(4) .bought-item-main {
        margin-left: 40px;
    }

    #bought-items .bought-item .bought-item-main:nth-child(all) .bought-item-text {
        width: 300px;
    }

    #bought-items .bought-item:nth-child(even) .bought-item-main .bought-item-text, #bought-items .bought-item:nth-child(odd) .bought-item-main .bought-item-text {
        width: 330px;
        text-align: justify;
    }

    #bought-items .bought-item:nth-child(3) .bought-item-main .bought-item-title {
        width: 310px;
    }

    #stock-container #stock-image {
        width: 300px;
        height: 300px;
        margin-right: 0;
        margin-top: 135px;
    }

    #stock-container #stock-description #stock-title {
        font-size: 41px;
    }

    #stock-container #stock-description .action .btn {
        margin-left: 29px;
    }

    .point, .properties-block {
        display: none;
    }

    #properties-main-hide {
        display: block;
        width: 530px;
    }

    #properties-container-flex {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    #properties-container #properties-main {
        width: 350px;
        height: 350px;
        margin: 0;
    }

    .properties-main-hide-point {
        font-size: 18px;
        font-family: "GilroyRegular", sans-serif;
        color: rgb(46, 50, 42);
        line-height: 1.389;
        margin-bottom: 12px;
        text-align: justify;
    }

    ul {
        padding: 0;
    }

    ul li {
        list-style-type: none; /* Скрываем маркеры, отображаемые по умолчанию */
    }

    ul li:before {
        font-weight: 900;
        color: rgb(128, 165, 6); /* Цвет маркера */
        content: "•"; /* Маркер */
        padding-right: 7px; /* Отступ от маркера до текста */
    }

    ul li:nth-child(1), ul li:nth-child(6) {
        margin-left: -10px;
    }

    ul li:nth-child(2), ul li:nth-child(5) {
        margin-left: 10px;
    }

    ul li:nth-child(3), ul li:nth-child(4) {
        margin-left: 20px;
    }

    #properties-container #properties-main #properties-image img {
        width: 75%;
        height: 75%;
        margin: 60px 32px;
    }

    #collect-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    iframe {
        width: 469px;
        height: 328px;
    }

    #collect-container #collect-mint {
        bottom: 5px;
        left: -128px;
    }

    #collect-container #collect-text .collect-text {
        margin-bottom: 30px;
    }

    #footer-container {
        position: relative;
    }

    #footer-container .footer-svg svg {
        width: 30px;
        height: 30px;
    }

    #footer-container .footer-svg {
        margin-right: 27px;
    }
}

/*1024-1031*/
@media screen and (max-width: 1031px) {
    #main #main-header {
        justify-content: center;
    }

    #main #main-header .main-header-item {
        margin: 15px 20px;
    }

    #main #main-text h2 {
        font-size: 66px;
    }
}

/*768-869*/
@media screen and (max-width: 900px) {
    .owl-carousel .owl-nav button.owl-prev span {
        left: 17%!important;
    }
    .owl-carousel .owl-nav button.owl-next span {
        left: 80%;
    }
}

/*768-869*/
@media screen and (max-width: 869px) {
    #main #main-header .main-header-item {
        text-align: center;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {
    #popup-content h2 {
        margin-left: 140px;
    }
    .product-container .product-content .product-content-title h2 {
        text-align: center;
        padding-top: 10px;
        height: 84px;
    }
    .product-container {
        display: block;
        height: 425px !important;
        max-width: 370px !important;
        margin: 40px auto;
    }
    .product-container .product-image {
        max-width: 150px;
        max-height: 150px;
        margin: 0 auto;
    }
    .product-container .product-content .product-content-title {
        justify-content: center;
        margin-bottom: 0;
    }
    .product-container .product-content .product-content-description {
        margin: 0 auto;
        text-align: center;
    }
    .product-container .product-content .product-content-property {
        text-align: center;
        margin: 5px 0 15px 0;
    }
    .product-container .product-content .product-action {
        margin: 0 auto;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        left: 22%;
    }

    #main {
        height: 975px;
    }

    #main #main-header .main-header-item:nth-child(4) {
        order: -1;
        margin-left: 0;
    }

    #main #main-header .main-header-item {
        margin: 15px 10px;
    }

    #main #main-text h2 {
        font-size: 60px;
    }

    #main #main-text h2 span {
        font-size: 38px;
    }

    #main .btn {
        padding: 20px 68px;
        width: 286px;
    }

    #main .btn img {
        right: -137px;
        top: -64px;
    }

    #properties-main-hide {
        max-width: 392px;
    }

    #stock-container #stock-mint {
        left: -20px;
    }

    #stock-container #stock-mint img {
        width: 220px;
    }

    #stock-container #stock-image {
        width: 300px;
        height: 300px;
        margin-top: 104px;
        margin-left: 20px;
    }

    #stock-container #stock-description #stock-title {
        font-size: 31px;
    }

    #stock-container #stock-description #stock-text {
        font-size: 15px;
    }

    #stock-container #stock-description #stock-mail input {
        padding: 24px 96px;
        width: 360px;
        font-size: 17px;
    }

    #stock-container #stock-description .action .btn {
        margin-left: 0;
        font-size: 19px;
        width: 360px;
        padding: 23px 82px;
    }

    #properties-container #properties-main {
        width: 310px;
        height: 310px;
        margin-right: 20px;
    }

    #properties-container #properties-main #properties-image img {
        margin: 54px 29px;
    }

    #properties-main-hide {
        max-width: 342px;
    }

    .properties-main-hide-point {
        font-size: 16px;
    }

    #collect {
        margin-bottom: 160px;
    }

    iframe {
        width: 450px;
        height: 290px;
    }

    .video-overlay {
        background-size: 100%;
    }

    #collect-container #collect-mint {
        top: -107px;
        left: 395px;
    }

    #collect-container #collect-flower {
        bottom: -226px;
        left: 363px;
    }

    #collect-container #collect-flower img {
        width: 140px;
    }

    #collect-container #collect-text {
        margin-left: 0;
        text-align: justify;
        margin-top: 30px;
    }

    #collect-container #collect-text .collect-text {
        margin-bottom: 20px;
        width: 450px;
    }

    #footer-container .footer-title {
        font-size: 14px;
    }

    #footer-container .footer-item {
        font-size: 12px;
    }

    .gray {
        font-size: 9px;
    }

    #footer-container .footer-svg {
        margin-right: 18px;
        width: 25px;
    }
    #footer-block-container .footer-block {
        margin-right: 15px;
    }
}

/*580-767*/
@media screen and (max-width: 767px) {
    #popup-content h2 {
    }
    .gray {
        margin-top: 17px;
    }
    #footer-container {
        display: block;
        padding-top: 86px;
    }
    #footer-container .logo {
        display: flex;
        justify-content: center;
    }
    #footer-icon-hide {
        justify-content: center;
        margin-left: 30px;
    }
    #footer-block-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    #footer-block-container .footer-block {
        margin-right: 30px;
    }
    #footer-block-container .footer-block:last-child {
        margin-right: 0;
    }
    .product-container {
        max-width: 268px !important;
    }
    #assortment .category-container {
        display: block;
    }
    #assortment .category {
        width: 185px;
        margin: 0 auto;
    }
    #main #main-header {
        justify-content: space-between;
    }

    #main #main-header #burger {
        display: block;
        fill: rgb(128, 165, 6);
    }

    #main #main-header #menu {
        display: none;
        position: fixed;
        width: 50%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0;
        padding-top: 75px;
        top: 0;
        z-index: 100;
        right: 0;
        background-color: rgb(41, 61, 41);
        opacity: 0.8;
}

    #menu svg {
        display: block;
        width: 30px;
        fill: rgb(128, 165, 6);
        opacity: 1;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    #main #main-header #menu .main-header-item a {
        text-decoration: none;
        font-size: 16px;
        font-family: "GilroyBold", sans-serif;
        color: rgb(128, 165, 6);
    }

    #main #main-header #menu .main-header-item {
        display: block;
    }

    #main #main-header .main-header-item:nth-child(4) {
        margin-left: 10px;
    }

    svg {
        width: 40px;
        height: 40px;
    }

    #main #main-header .main-header-item {
        display: none;
    }

    #main #main-header .logo {
        display: block;
    }

    #main #main-text h2 {
        font-size: 48px;
        margin: 110px 0 35px 0;
    }

    #main #main-text h2 span {
        font-size: 31px;
    }

    #main #main-text #main-text-description {
        max-width: 403px;
    }

    #features-container #features-items {
        max-width: 245px;
    }

    #features-container #features-items .feature-item {
        margin: 0 0 40px 0;
    }

    #bought-items .bought-item {
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    #bought-items .bought-item .bought-item-image, #bought-items .bought-item .bought-item-main .bought-item-text {
        margin: 0 auto;
    }

    #bought-items .bought-item .bought-item-main, #bought-items .bought-item:nth-child(3) .bought-item-main, #bought-items .bought-item:nth-child(4) .bought-item-main {
        margin: 0 auto;
        max-width: 400px;
        padding: 0 10px;
    }

    #bought-items .bought-item .bought-item-main .bought-item-title, #bought-items .bought-item:nth-child(3) .bought-item-main .bought-item-title {
        text-align: center;
    }

    #bought-items .bought-item:nth-child(even) .bought-item-main .bought-item-text, #bought-items .bought-item:nth-child(odd) .bought-item-main .bought-item-text {
        text-align: center;
    }

    #bought-items .bought-item:nth-child(3) .bought-item-main .bought-item-title {
        max-width: 330px;
    }

    #bought-items .bought-item:nth-child(2n) {
        margin-left: 0;
    }

    #stock-container {
        position: relative;
    }

    #stock-container #stock-image {
        width: 200px;
        height: 200px;
        position: absolute;
    }

    #stock-container #stock-mint img {
        width: 175px;
    }

    #stock-container #stock-image {
        display: none;
    }

    #stock-container #stock-description #stock-title {
        margin-top: 90px;
    }

    #stock-container #stock-description #stock-title img {
        width: 90px;
    }

    #collect-container #collect-mint {
        top: -100px;
        left: 396px;
    }

    #footer {
        height: 307px;
    }

    #footer-container .logo img {
        width: 120px;
    }

    #footer-container .footer-title {
        font-size: 13px;
    }

    #footer-container .footer-svg svg {
        width: 26px;
        height: 28px;
    }

    #footer-container .footer-svg {
        margin-right: 22px;
    }

    #properties-container #properties-main {
        width: 200px;
        height: 200px;
    }

    #properties-container #properties-main #properties-image img {
        margin: 37px 20px;
    }
    #footer-container .logo {
        position: relative;
    }

    #footer-container #footer-icon {
        display: none;
    }

    #footer-icon-hide {
        display: flex;
        margin-top: 15px;
    }
}

/*480-579*/
@media screen and (max-width: 579px) {
    #features {
        padding: 62px 0 33px 0;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        left: 7.7%!important;
    }
    .owl-carousel .owl-nav button.owl-next span {
        left: 89%;
    }
    #main #main-header #menu {
        width: 100%;
    }
    #main #main-header #menu .main-header-item a {
        font-size: 13px;
    }
    .properties-title {
        margin-bottom: 30px;
    }

    #properties-container #properties-main {
        display: none;
    }

    #properties-container-flex {
        flex-wrap: wrap;
    }

    .properties-title {
        font-size: 33px;
    }

    ul li:nth-child(1), ul li:nth-child(6), ul li:nth-child(2), ul li:nth-child(5), ul li:nth-child(3), ul li:nth-child(4) {
        margin-left: 0;
    }

    #collect-container #collect-mint img {
        width: 92px;
    }

    iframe {
        width: 400px;
        height: 231px;
    }

    #collect-container #collect-text .collect-text {
        width: 400px;
    }

    #collect-container #collect-mint {
        top: -83px;
        left: 365px;
    }

    #collect-container #collect-mint img {
        width: 65px;
    }

    #collect-container #collect-flower {
        bottom: -226px;
        left: 298px;
    }

    #collect-container #collect-flower img {
        width: 108px;
    }

    #footer-container .footer-svg {
        margin-right: 11px;
    }

    #footer-container .footer-svg svg {
        width: 23px;
        height: 28px;
    }

    #footer-container .footer-title {
        font-size: 11px;
    }

    #collect {
        margin-bottom: 90px;
    }

    #collect-container #collect-flower {
        bottom: -158px;
    }

    .footer-block {
        text-align: left;
    }

    #footer-container .footer-item {
        font-size: 10px;
    }

    .gray:first-child {
        margin-right: 45px;
    }
}

/*320-479*/
@media screen and (max-width: 479px) {
    form .popup-input {
        margin-top: -12px;
    }
    #popup-content #popup-action .btn {
        margin-left: 0;
        width: 202px;
        padding: 15px 29px;
        height: 50px;
        font-size: 17px;
        margin-top: 5px;
    }
    #popup-content h2 {
        margin-left: 0;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    #popup-content input, #popup-choose select {
        margin-bottom: 10px;
    }
    #answer {
        font-size: 17px;
    }
    #stock-container #stock-description #stock-text {
        width: 268px;
    }
    .properties-main-hide-point, #collect-container #collect-text .collect-text {
        font-size: 14px;
    }
    .product-container .product-content .product-action .btn {
        width: 165px;
        padding: 14px 55px;
    }
    .product-container .product-content .product-content-description {
        width: 144px;
    }
    .product-container .product-content .product-action .btn img {
        display: none;
    }
    .product-container {
        max-width: 200px !important;
    }
    #bought-items .bought-item .bought-item-main, #bought-items .bought-item:nth-child(3) .bought-item-main, #bought-items .bought-item:nth-child(4) .bought-item-main {
        padding: 0;
    }
    #stock-container {
        height: 370px;
    }
    #bought-items .bought-item {
        padding-bottom: 40px;
    }
    .product-container .product-content .product-content-description {
        font-size: 12px;
    }
    .product-container .product-content .product-content-title h2 {
        font-size: 18px;
    }
    #collect-video {
        width: 300px;
        margin-bottom: 15px;
    }
    #properties-main-hide {
        max-width: 250px;
    }
    #stock-container {
        height: 368px;
    }
    #stock-container #stock-description #stock-title, #stock-container #stock-description #stock-text {
        margin-bottom: 15px;
    }
    #stock-container #stock-mint {
        left: -9px;
    }
    #stock-container #stock-mint img {
        width: 125px;
    }
    #assortment .category, #assortment .category:hover, #assortment .category.active {
        font-size: 14px
    }
    #assortment .category {
        width: 164px;
    }
    #collect-container #collect-mint {
        display: none;
    }
    .owl-carousel .owl-nav button.owl-prev span {
        left: 5.7%!important;
    }
    .owl-carousel .owl-nav button.owl-next span {
        left: 88%;
    }
    #main {
        height: 480px;
        background-position: inherit;
    }

    #main #main-header .logo img {
        width: 82%;
    }

    #main #main-text h2 {
        font-size: 34px;
        margin: 44px 0 35px 0;
    }

    #main #main-text h2 span {
        font-size: 21px;
    }

    #main #main-text #main-text-description {
        max-width: 403px;
        font-size: 13px;
    }

    #main .btn {
        padding: 16px 42px;
        width: 241px;
        font-size: 19px;
        height: 54px;
    }

    #main .btn img {
        width: 60%;
    }

    h2.title {
        margin-bottom: 50px;
        font-size: 26px;
    }

    #features-container #features-items {
        max-width: 160px;
    }

    #top1, #top2, #top3, #top4 {
        margin-top: 8px;
    }

    #top1, #top2, #top3, #top4, #down1, #down2, #down3, #down4 {
        font-size: 10px;
    }

    #features-container #features-items .feature-item .feature-item-image {
        width: 110px;
        height: 110px;
    }

    #features-container #features-items .feature-item {
        width: 220px;
        height: 220px;
    }

    #bought-items .bought-item {
        padding-bottom: 50px;
    }

    #bought-items .bought-item .bought-item-image .circle img {
        width: 100%;
    }

    #bought-items .bought-item .bought-item-image .circle {
        width: 105px;
        height: 105px;
        margin: 30px;
    }

    #bought-items .bought-item .bought-item-image {
        width: 163px;
        height: 163px;
    }

    #bought-items .bought-item .bought-item-main .bought-item-title {
        font-size: 18px;
    }

    #bought-items .bought-item:nth-child(even) .bought-item-main .bought-item-text, #bought-items .bought-item:nth-child(odd) .bought-item-main .bought-item-text {
        width: 245px;
        font-size: 12px;
    }

    #stock-container {
        height: 430px;
    }

    #stock-container #stock-mint img {
        width: 145px;
    }

    #stock-container #stock-description #stock-title {
        font-size: 20px;
        text-align: center;
        margin-top: 80px;
    }

    #stock-container #stock-description #stock-text {
        font-size: 12px;
    }

    #stock-container #stock-description #stock-text span {
        font-size: 17px;
    }

    #stock-container #stock-description #stock-mail input {
        padding: 15px 50px;
        width: 240px;
        height: 42px;
        font-size: 12px;
    }

    #stock-container #stock-description .action .btn {
        margin-left: 11px;
        font-size: 13px;
        width: 240px;
        height: 42px;
        padding: 13px 58px;
    }

    .btn img {
        position: relative;
        right: -101px;
        top: -35px;
        width: 46%;
    }

    #stock-container #stock-description #stock-mail {
        margin-bottom: 20px;
    }

    #properties-main-hide {
        padding: 0 20px;
    }

    .properties-title {
        font-size: 26px;
        margin-bottom: 15px;
    }

    iframe {
        width: 300px;
        height: 170px;
    }

    #collect-container #collect-mint {
        top: -83px;
        left: 240px;
    }

    #collect-container #collect-mint img {
        width: 60px;
    }

    #collect-container #collect-text .collect-text {
        width: 256px;
    }

    #collect-container #collect-flower {
        bottom: -145px;
        left: 22px;
    }

    #collect-container #collect-flower img {
        width: 88px;
    }

    #footer-container {
        text-align: center;
    }

    #footer-container .logo img {
        width: 70px;
    }

    #footer-container .footer-svg {
        margin-right: 9px;
    }

    #footer-container .footer-svg svg {
        width: 16px;
        height: 18px;
    }

    #footer-container .footer-title {
        font-size: 10px;
    }

    #footer #footer-container #footer-block-hide, #footer #footer-container #footer-block-hide .footer-block {
        display: block;
    }

    #footer #footer-container #footer-block-hide .footer-block .footer-title {
        margin-bottom: 10px;
        position: relative;
    }

    #footer {
        height: 260px;
    }

    .gray {
        margin-top: 45px;
    }

    #footer-icon-hide {
        justify-content: center;
    }

    #footer-container .footer-svg {
        margin-right: 0px;
    }

    #stock-container {
        margin: 100px auto;
    }

    #main .btn img {
        width: 62%;
        right: -104px;
        top: -40px;
    }

    #answer {
        margin: 30px auto 0px auto;
    }

    #stock-container {
        height: 380px;
    }

    #main .btn {
        padding: 16px 42px;
        width: 185px;
        font-size: 16px;
        height: 54px;
    }
    #features-container #features-items .feature-item {
        width: 160px;
        height: 160px;
    }
    #features-container #features-items .feature-item .feature-item-image {
        width: 80px;
        height: 80px;
    }
    #features-container #features-items .feature-item .feature-item-image img {
        width: 60%;
    }

    #collect .properties-title {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    #footer-container {
        padding-top: 80px;
    }
    #footer-block-container {
        margin-top: 12px;
    }
    #footer-block-container .footer-block {
        margin-right: 12px;
    }
    #footer-container .footer-item {
        font-size: 9px;
        margin-top: 13px;
    }
    .gray {
        margin-top: 19px;
        font-size: 7px;
    }
}
